html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #f9faf8;
}

ul {
  list-style: none;
}

.header {
  background-color: #1f2937;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.links {
  display: flex;
  gap: 25px;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.hero {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  height: 500px;
}

.hero__main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero__sub {
  font-size: 18px;
  color: #f9faf8;
  opacity: 70%;
  margin-bottom: 15px;
}

.hero__left {
  margin: 0px 250px;
}

.hero__right {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  background-color: rgb(125, 125, 125);
  width: 700px;
  height: 200px;
  margin-right: 250px;
}
 .info {
  padding: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 525px;
 }

 .info__top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
 }

 .info__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  opacity: 60%;
  width: 150px;
  height: 150px;
 }

 .card__item {
  border: 4px solid rgb(20, 20, 248);
  height: 150px;
  width: 150px;
  border-radius: 16px;
  margin-bottom: 10px;
 }

 .quote {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  height: 450px;
 }

 .quote__text {
  margin: 0 300px;
 }
 .cite {
  font-size: 22px;
  font-weight: 500;
  text-align: right;
  margin: 0 300px;
 }
 .cta {
  color: #e5e7eb;
  padding: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
 }

 .cta__text {
  background-color: #3882f6;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 35px;
  flex: 1;
  margin-bottom: 10px;
 }

 .cta__button {
  background-color: #3882f6;
  border: 2px solid #e5e7eb;
  color: #e5e7eb;
  padding: 4px 25px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
 }

 .hero__button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 4px 15px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500px;
  border: none;
 }
 .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 16px;
  height: 90px;
 }