html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #f9faf8;
}

ul {
  list-style: none;
}

.header {
  background-color: #1f2937;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.links {
  display: flex;
  gap: 25px;
}

.link__items {
 
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 75px;
}

.hero__main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero__sub {
  color: #f9faf8;
  opacity: 70%;
}

.hero__right {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  background-color: rgb(125, 125, 125);
  width: 700px;
  height: 200px;
}
 .info {
  padding: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;

 }

 .info__top {

 }

 .info__bottom {

 }

 .card {

 }

 .card__item {

 }

 .quote {
  padding: 75px;
  display: flex;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
 }

 .cta {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .cta__text {
  justify-content: center;
 }

 .btn {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 4px 15px;
  border-radius: 8px;;
 }

 .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 16px;
 }