html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.links {

}

.container {

}

.hero {

}

.hero-left {

}

.header-right {

}
 .info {

 }

 .info__top {

 }

 .info__bottom {

 }

 .card {

 }

 .card__item {

 }

 .quote {

 }

 .cta {

 }

 .cta__text {

 }

 .btn {

 }

 .footer {
  background-color: #1f2937;
 }