html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: #1f2937;
  margin: 0px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.links {
display: flex;
gap: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {

}

.hero {
  background-color: #1f2937;
}
.hero__main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.header-right {

}
 .info {

 }

 .info__top {

 }

 .info__bottom {

 }

 .card {

 }

 .card__item {

 }

 .quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
 }

 .cta {

 }

 .cta__text {

 }

 .btn {
  background-color: #3882f6;
 }

 .footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 16px;
 }